
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#raffle-container {
    width: 100%;
}

#raffle-div {
    width: 45%;
    margin: auto;
    text-align: center;
    background-color: black;
    border-style: solid;
	border-color: white;
	border-radius: 1vw;
	border-width: .2vw;
    padding: 1vw;
}

.raffle-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 99%;
    margin: auto;
}

p {
    margin-bottom: .5vw !important;
}

.raffle-info p {
    width: 50%;
}

.raffle-info p:nth-child(1) {
    text-align: left;
}

.raffle-info p:nth-child(2) {
    text-align: right;
}

#divider {
    border-top: solid white .2vw;
    width: 99%;
    margin:auto;
}

.inside-text {
    font-family: "Space";
    font-size: 1.2vw;
    line-height: 1.3vw;
    padding-top: .5vw;
}

#gas-logo, #martian-logo {
    width: 20%;
	border-radius: 1vw;
}

#martian-logo {
    border-style: solid;
	border-color: white;
	border-width: .2vw;
}

#quantity-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

#quantity-controls {
    text-align: center;
    margin: 0;
}

.increment-button {
    width: 15%;
    font-size: calc(25px + 3vw) !important;
    line-height: calc(25px + 3vw) !important;
    background-color: transparent;
}

.increment-button:hover {
    opacity: .75;
}

  
#number-to-mint {
    width: 35%;
    font-size: calc(10px + 2.5vw) !important;
    line-height: calc(10px + 3vw) !important;
    letter-spacing: 5px;
    margin-top: .5vw;
    margin-bottom: .5vw;
    background-color: #0ffef256;
    text-align: center; 
}

#max-button {
    width: 30%;
}

.mes-icon {
	display: inline;
	width: 1.6vw;
    margin-bottom: 3px;
}

.bottom-button {
    width: 99%;
    margin-top: .5vw;
    margin-bottom: .5vw;
}

.disabled {
    background-color: grey !important;
}

.disabled:hover {
    background-color: grey !important;
    cursor: default !important;
    box-shadow: none;
}

@media screen and (max-width:991px) {

    #account {
        width: 90%;
        margin-top: 5px;
    }

    #gas-logo, #martian-logo {
        width: 30%;
    }

    #martian-logo {
        border-radius: 20px;
    }

    p {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    body {
        display: initial;
    }

    .mes-icon {
		display: inline;
		width: 2.8vh;
	}

    #raffle-div {
        width: 95%;
		border-width: 3px;
        padding: 1vh;
        border-radius: 20px;
    }

    #martian-logo {
		border-width: 3px;
    }

    #divider {
        border-width: 3px;
        width: 95%;
    }

    .inside-text {
        font-size: 2.7vh;
        line-height: 3vh;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-top: 0;
    }

    #quantity-wrapper {
        justify-content: space-around;
    }

    #quantity-controls {
        margin-bottom: 0;
        width: 100%;
    }

    .increment-button {
        touch-action: manipulation;
        width: initial;
        font-size: calc(20px + 4.5vw) !important;
        line-height: calc(20px + 3.5vw) !important;
        background-color: transparent;
      }
      
      #number-to-mint {
        font-size: calc(25px + 2.5vw) !important;
        line-height: calc(25px + 2.5vw) !important;
        margin: 0;
        width: 50%;
      }

      #max-button {
          width: 50%;
      }

      .bottom-button {
        width: 95%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width:2000) {
    .mes-icon {
        margin-bottom: 7px;
    }
}